@using Softsige.Ideias.App.Models;
@using Microsoft.AspNetCore.Http;

@model ErrorCustom

@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TATU Marchesan - Painel de Ideias</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/favicontatu.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/favicontatu.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
</head>

<body class="gray-bg">
    <div class="middle-box text-center animated">
        <div>
            <img alt="image" src="~/images/Error.jpg" class="text-center tatu-logo" /><br />
        </div>
        <div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary m-t">Página Inicial</a>
        </div>
    </div>
</body>
</html>