@using Softsige.Ideias.App.ViewModels;
@model IEnumerable<IdeiasFiltroViewModel>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Gestão de Ideias</h2>
        <small>Visualize todas as ideias cadastradas no sistema</small>
    </div>
</div>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lista de ideias</h5>
                    <div class="ibox-tools top-10">
                        <p>
                            <a class="btn btn-primary" asp-action="Create" disable-by-claim-name="Ideias" disable-by-claim-value="Create">Nova Ideia</a>
                        </p>
                    </div>
                </div>
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-form-label" for="tbxDataInicio">Data Início</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="tbxDataInicio" name="tbxDataInicio" placeholder="dd/mm/yyyy" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-form-label" for="tbxDataFim">Data Fim</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="tbxDataFim" name="tbxDataFim" placeholder="dd/mm/yyyy" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label" for="tbxDescricao">Descrição</label>
                                <input type="text" id="tbxDescricao" name="tbxDescricao" placeholder="Descrição" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div id="lista-ideias-content">
                        <partial name="_ListaIdeias" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="~/js/ideias.min.js" asp-append-version="true"></script>
}