@model Tatu.Marchesan.Ideias.App.ViewModels.ReuniaoViewModel

@if (Model != null)
{
    <div class="table-responsive">
        <div class="ibox">
            <div class="ibox-title header-blue">
                <h5>@Html.DisplayFor(modelItem => Model.Data)</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Participantes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ReuniaoParticipantes.Any())
                        {
                            @foreach (var part in Model.ReuniaoParticipantes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => part.UsuarioNome)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="table-responsive">
        <div class="ibox">
            <div class="ibox-content bg-light">Nenhuma reunião encontrada</div>
        </div>
    </div>
}