@model Softsige.Ideias.App.ViewModels.RoleViewModel

<div class="modal" id="modal-adicionar-role" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated">
            <div class="modal-header header-blue">
                <h4 class="modal-title">Novo Perfil</h4>
                <button type="button" class="close" data-dismiss="modal"><span class="text-white" aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
            </div>
            <form asp-controller="Admin" asp-action="AdicionarRoleUsuario" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">
                    <input asp-for="UserId" type="hidden" />
                    <div class="form-group">
                        <label class="control-label">Perfil</label>
                        <select id="cbxAddRole" asp-for="Name" class="form-control" asp-items="ViewBag.AllRoles">
                            <option value="">Selecione...</option>
                        </select>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                    <button type="submit" id="btnAdicionarRole" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>