@using Tatu.Marchesan.Ideias.App.ViewModels;
@model IEnumerable<UsuariosFiltroViewModel>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome de Usuário</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn btn-white" asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><spam class="fa fa-pencil"></spam></a>
                                    <a class="btn btn-white" data-id="@item.Id" data-toggle="modal" href="#modal-excluir-usuario" title="Excluir"><spam class="fa fa-trash"></spam></a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">Nenhum usuário encontrado</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<partial name="_ExcluirUsuario" />