@using Tatu.Marchesan.Ideias.App.Models;

@model User

@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TATU Marchesan - Painel de Ideias</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/favicontatu.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body class="gray-bg">
    <div class="loginColumns animated">
        <div class="row">
            <div class="col-md-6 bottom-space">
                <div class="ibox-content p-0 header-blue pb-1">
                    <div class="dropdown profile-element text-center">
                        <img alt="image" src="~/Images/logotatu2019.png" class="text-center tatu-logo" /><br />
                        <div class="label label-primary text-center tatu-logo-title">MARCHESAN</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox-content p-0 border-0">
                    <div class="ibox-title header-blue">
                        <h3><i class="fa fa-user"></i>&nbsp;&nbsp;Registrar</h3>
                    </div>
                </div>
                <div class="ibox-content pb-03">
                    <form method="post" asp-controller="Admin" asp-action="RegisterUser" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Usuário</label>
                            <div class="col-sm-9">
                                <input asp-for="Name" class="form-control" autocomplete="off" placeholder="novo_usuario">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control" autocomplete="new-email" placeholder="novo_usuario@email.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Password" class="form-control" autocomplete="new-password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-right">
                                <a class="btn btn-white" asp-controller="Admin" asp-action="Index">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script async src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script async src="~/lib/pace/pace.min.js"></script>
<script async src="~/js/usuario.min.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />