@using Softsige.Ideias.Domain.Entities.Models;
@model IEnumerable<RelevanciasModel>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Gestão de Relevâncias</h2>
        <small>Visualize todas as relevância cadastradas no sistema</small>
    </div>
</div>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lista de Relevância</h5>
                    <div class="ibox-tools top-10">
                        <p>
                            <a class="btn btn-primary" asp-controller="Relevancia" asp-action="Create">Nova Relevância</a>
                        </p>
                    </div>
                </div>
                <div class="ibox-content m-b-sm border-bottom">
                    <div id="lista-ideias-content">
                        <partial name="_ListaRelevancia" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="~/js/relevancia.min.js" asp-append-version="true"></script>
}