<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title bg-danger text-white">
                    <h5>Acesso negado, você não tem permissão!</h5>
                </div>
            </div>
        </div>
    </div>
</div>