@model Tatu.Marchesan.Ideias.App.ViewModels.ComiteViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Gestão do Comitê</h2>
        <small>Utilize esta página para fazer avaliação de uma ideia</small>
    </div>
</div>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title header-blue">
                    <h5>Avaliação da Ideia</h5>
                </div>
                <div class="ibox-content">
                    <partial name="_DetalhesIdeia" model="@Model.Ideia" />
                    <div class="ibox-title header-blue">
                        <h5>Avaliação</h5>
                    </div>
                    <form method="POST" asp-controller="Comite" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="ibox-content">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Análise</label>
                                <div class="col-sm-10">
                                    <textarea asp-for="Descricao" type="text" class="form-control"></textarea>
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Relevância</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <select id="cbxRelevancia" asp-for="RelevanciaId" class="form-control m-b" asp-items="ViewBag.Relevancia"><option value="" selected>Selecione...</option></select>
                                        <span asp-validation-for="RelevanciaId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-right">
                                <a class="btn btn-white" asp-controller="Comite" asp-action="Index">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="~/js/comite.min.js" asp-append-version="true"></script>
}