@model Softsige.Ideias.App.Models.Login

@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TATU Marchesan - Painel de Ideias</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/favicontatu.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body class="gray-bg">
    <div class="loginColumns animated">
        <div class="row">
            <div class="col-md-6 bottom-space">
                <div class="ibox-content p-0 header-blue pb-1">
                    <div class="dropdown profile-element text-center">
                        <img alt="image" src="~/Images/logotatu2019.png" class="text-center tatu-logo" /><br />
                        <div class="label label-primary text-center tatu-logo-title">MARCHESAN</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox-content p-0 border-0">
                    <div class="ibox-title header-blue">
                        <h3><i class="fa fa-comments"></i>&nbsp;&nbsp;Painel de ideias</h3>
                    </div>
                </div>
                <div class="ibox-content pb-08">
                    <form asp-action="Login" method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserId"></label>
                            <input asp-for="UserId" class="form-control" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-0">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <small><a asp-action="ForgotPassword" asp-controller="Account">Esqueci a senha</a></small>
                        </div>
                        <div class="register">
                            <small>Não possui cadastro? <a asp-action="RegisterUser" asp-controller="Admin">Registre-se</a></small>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script async src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script async src="~/lib/pace/pace.min.js"></script>
<partial name="_ValidationScriptsPartial" />