@using Softsige.Ideias.App.ViewModels;

@model IEnumerable<RoleViewModel>

@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome do perfil</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn-white btn btn-xs" data-toggle="modal" href="#modal-excluir-role" data-userId="@item.UserId" data-roleName="@item.Name">Excluir</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">Nenhuma role adicionada até o momento</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}