@model Softsige.Ideias.App.ViewModels.AnexosViewModel

<div class="modal" id="modal-ata-reuniao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated">
            <div class="modal-header header-blue">
                <h4 class="modal-title">Adicionar Ata de Reunião</h4>
                <button type="button" class="close" data-dismiss="modal"><span class="text-white" aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
            </div>
            <form id="adicionarAnexoForm" asp-controller="Comite" asp-action="AdicionarAnexo" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdeiaId" />
                <input type="hidden" id="EventoTipoId" name="EventoTipoId" value="2" />
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnexoIFormFile" class="control-label"></label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="AnexoIFormFile" asp-for="AnexoIFormFile">
                            <label data-browse="Procurar" class="custom-file-label">
                                <label style="display: none" id="img_nome"></label>
                            </label>
                        </div>
                        <span asp-validation-for="AnexoIFormFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                    <button type="submit" id="btnAdicionarAtaReuniao" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>